@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.email {
    margin: 20px auto;
    padding: 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
}

.resume-button:hover {
    transform: translate(-4px, -4px);
}