@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --transition: all 0.25s cubic-bezier(0.645,0.045,0.355,1);
    --lightest-slate: #ccd6f6;
    --navy: #0a192f;
    --green: #64ffda;
}

body {
    min-height: 100%;
    overflow-x: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    line-height: 1.3;
}

a {
    display: inline-block;
    text-decoration: none;
    text-decoration-skip-ink: auto;
    color: inherit;
    position: relative;
    transition: var(--transition);
}

.email {
    margin: 20px auto;
    padding: 10px;
    letter-spacing: 0.1em;
    writing-mode: vertical-rl;
}

.resume-button:hover {
    transform: translate(-4px, -4px);
}

li a svg {
    width: 20px;
    height: 20px;
}

.intro-title {
    font-size: clamp(14px, 5vw, 16px);
}

.big-heading {
    /* margin: 0; */
    font-size: clamp(40px, 8vw, 80px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 10px 0;
    font-weight: 600;
    color: var(--lightest-slate);
    line-height: 1.1;
}

.content-p {
    margin: 20px 0px 0px;
    max-width: 540px;
}

p > a::after {
    content: "";
    display: block;
    width: 0px;
    height: 1px;
    position: relative;
    /* bottom: 0.37em; */
    background-color: var(--green);
    opacity: 0.5;
    transition: var(--transition);
}

p > a:hover::after {
    width: 100%;
}